<section>
  <%= form_with model: @product do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <p class=' text-red-600'><%= @product.errors.full_messages_for(:name).first if @product.errors.any? %></p>
    </div>

    <div>
      <%= f.label :brand %>
      <%= f.text_field :brand %>
      <p class=' text-red-600'><%= @product.errors.full_messages_for(:brand).first if @product.errors.any? %></p>
    </div>

    <div>
      <%= f.label :price %>
      <%= f.number_field :price %>
      <p class=' text-red-600'><%= @product.errors.full_messages_for(:price).first if @product.errors.any? %></p>
    </div>

    <div>
      <%= f.label :sku %>
      <%= f.text_field :sku %>
      <p class=' text-red-600'><%= @product.errors.full_messages_for(:sku).first if @product.errors.any? %></p>
    </div>

    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <p class=' text-red-600'><%= @product.errors.full_messages_for(:description).first if @product.errors.any? %></p>
    </div>

    <div>
      <%= f.label :width %>
      <%= f.number_field :width %>
      <p class=' text-red-600'><%= @product.errors.full_messages_for(:width).first if @product.errors.any? %></p>
    </div>

    <div>
      <%= f.label :height %>
      <%= f.number_field :height %>
      <p class=' text-red-600'><%= @product.errors.full_messages_for(:height).first if @product.errors.any? %></p>
    </div>

    <div>
      <%= f.label :depth %>
      <%= f.number_field :depth %>
      <p class=' text-red-600'><%= @product.errors.full_messages_for(:depth).first if @product.errors.any? %></p>
    </div>

    <div>
      <%= f.label :weight %>
      <%= f.number_field :weight %>
      <p class=' text-red-600'><%= @product.errors.full_messages_for(:weight).first if @product.errors.any? %></p>
    </div>

    <div>
      <%= f.label :photos %>
      <%= f.file_field :photos, multiple: true %>
    </div>

    <div>
      <%= f.submit 'Cadastrar' %>
    </div>
  <% end %>
</section>