<section class='container'>
  <div class=' w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 max-w-[1200px]'>
    <% if @products.any? %>
      <% @products.each do |product| %>
        <div id=<%= product.name.split(' ').join('-')%> class=' max-w-[300px]'>
          <h2 class=' text-blue-700 hover:text-blue-900 font-semibold cursor-pointer'><%=link_to product.name, product %> <%= product.brand %></h2>
          <%= link_to(image_tag(product.photos.last, style: 'height:50%;width:100%;max-width:500px;object-fit:cover;'), product_path(product)) if product.photos.attached? %>
          <p><%= product.description %></p>
          <p class='font-bold'><%= number_to_currency(product.price, unit: 'R$ ') %></p>
        </div>
      <% end %>
    <% else %>
      <p>Não existem produtos</p>
    <% end %>
  </div>
</section>
