<section>
  <div>
    <% if @products.any? %>
      <% @products.each do |product| %>
        <div id=<%= product.name.split(' ').join('-')%>>
          <h2><%=link_to product.name, product %> <%= product.brand %></h2>
          <p><%= product.description %></p>
          <p><%= product.price %></p>
        </div>
      <% end %>
    <% else %>
      <p>Não existem produtos</p>
    <% end %>
  </div>
</section>