<section>
  <div>
    <% if @products.any? %>
      <% @products.each do |product| %>
        <div id=<%= product.name.split(' ').join('-')%>>
          <h2><%=link_to product.name, product %> <%= product.brand %></h2>
          <%= link_to(image_tag(product.photos.last, style: 'height:50%;width:100%;object-fit:cover;'), product_path(product)) if product.photos.attached? %>
          <p><%= product.description %></p>
          <p><%= number_to_currency(product.price, unit: 'R$ ') %></p>
        </div>
      <% end %>
    <% else %>
      <p>Não existem produtos</p>
    <% end %>
  </div>
</section>