<section>
  <div>
    <% if @product %>
        <div>
          <%= image_tag(@product.photos.last, style: 'height:50%;width:100%;object-fit:cover;') if @product.photos.attached? %>  
          <h2><%=link_to @product.name, @product %> <%= @product.brand %></h2>
          <h4><%= number_to_currency(@product.price, unit: 'R$ ') %></h4>
          <p><%= @product_stock %> unidades disponiveis</p>
          <p>SKU: <%= @product.sku %></p>
          <p><%= @product.description %></p>
          <p>Marca: <%= @product.brand %></p>
          <p>Dimenções: <%= @product.width %> x <%= @product.height %> x <%= @product.depth %></p>
          <p>Peso: <%= @product.weight %></p>
          <p>Status: <%= Product.human_attribute_name("status.#{@product.status}") %></p>
        </div>
        <% if @product.inactive? %>
          <div><%= button_to 'Ativar', activate_product_path(@product) %></div>
        <% else %>
          <div><%= button_to 'Desativar', deactivate_product_path(@product) %></div>
        <% end %>
    <% end %>
  </div>
</section>