<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class='py-6 px-[2%] bg-orange-500'>
      <nav>
        <div class='flex space-x-6 items-center'>
          <p class='font-extrabold text-3xl text-blue-900'>Marketplace</p>
          <%= link_to 'Cadastrar produto', new_product_path %>
          <%= link_to 'Registrar novo admin', new_admin_registration_path %>
          <% if admin_signed_in? %>
            <%= link_to 'Controle de estoque', stock_products_path %>
            <%= link_to 'Admins pendentes', pending_admins_path %>
            <%= current_admin.name %> | <%= current_admin.email %>
            <%= link_to 'Sair', destroy_admin_session_path, method: 'delete'%>
          <% else %>
            <%= link_to 'Entrar', new_admin_session_path, class:'text-green-600 hover:text-green-700' %>
          <% end %>
        </div>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
