<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <header>
        <nav>
          <div><%= link_to 'Cadastrar produto', new_product_path %></div>
          <%= link_to 'Registrar novo admin', new_admin_registration_path %>
          <% if admin_signed_in? %>
            <%= link_to 'Admins pendentes', pending_admins_path %>
            <%= current_admin.name %> | <%= current_admin.email %>
            <%= link_to 'Sair', destroy_admin_session_path, method: 'delete'%>
          <% else %>
            <%= link_to 'Entrar', new_admin_session_path %>
          <% end %>
        </nav>
      </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
